<!--
  Canonical site header. When you change this, also update every page that
  uses it: index.html, sales/index.html, marketing/index.html,
  about/index.html, case-study/index.html, contact/index.html,
  writing/index.html, writing/_template/index.html, and any individual
  writing pieces.
-->
<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="/assets/img/favicon-splendid.svg" alt="Splendid Engines" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Who we help</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/sales/">Sales</a></li>
            <li><a class="dropdown-item" href="/marketing/">Marketing</a></li>
            <li><a class="dropdown-item" href="/experts/">Experts</a></li>
          </ul>
        </li>
        <li class="nav-item"><a class="nav-link" href="/case-study/">Case study</a></li>
        <li class="nav-item"><a class="nav-link" href="/about/">About</a></li>
        <li class="nav-item"><a class="nav-link" href="/writing/">Writing</a></li>
        <li class="nav-item ms-lg-3"><a class="btn btn-se-primary btn-sm" href="/contact/">Book a call</a></li>
      </ul>
    </div>
  </div>
</nav>
